/*
 * Home page style css
 */

*{
    margin: 0;
    padding: 0;
}

html {
	position: relative;
	min-height; 100%;
}

body { margin-bottom: 50px; }

:link { color: #008CBA; }

a:visited { color: #008CBA; }

.ui-widget { font-size: 90% !important; }

#page{
    min-height: 100%;
    height: auto !important;
    //height: 100%;
    margin: 0 auto -70px;
}

body {
    //background: #2A4D69;
    background: #dedede;
}

/* Start of Header Div */

#header {
    //border: 1px solid red;
    background: #2A4D69;
    height: 100px;
    margin: 0;
    padding: 0;
}

#header a {
	text-decoration: none;
}

#logos {
	float: left;
	margin-top: 55px;
	margin-left: 30px;
	//background-color: #ebebeb;
}

#logos p {
	//color: #ebebeb;
	color: #ffffff;
	font-family: Garamond, "Times New Roman", serif;
	font-size: 34px;
	font-weight: 500;
}

#nav {
	float: left;
	margin-top: 60px;
	margin-left: 40px;
}

ul {
	list-style-type: none;
}

#nav li{
	float: left;
}

#nav li a {
	color: #ffffff;
	font-family: Garamond, "Times New Roman", serif;
	font-size: 20px;
	padding: 10px;
}


#nav li a:hover {
	//border: 1px solid red;
	//border-bottom: 2px solid #8d8d8d;
}

#nav li a:focus {
//	background-color: red;
}

body#createQ a#createNav,
body#createE a#createExamNav,
body#release a#releaseNav,
body#graded a#gradedNav,
body#takeE a#takeNav {
	padding: 10px;
	padding-bottom: 38px;
	background: #dedede;
	color: #2A4D69;
	//border-radius: 10px;
	//border: 2px solid #008CBA;
}

#welcome {
	float: right;
	margin-top: 60px;
	margin-right: 30px;
	font-family: Garamond, "Times New Roman", serif;
	color: #ffffff;
}

/* End of Header Div */


/* Start of Logout CSS Button */

#logout {
    float: right;
    //height: 30px;
    margin-top: 57px;
    margin-right: 30px;
    //width: 80px;
}


#logout input {
    background-color: #dedede;
    border: 1px solid #dedede;
    box-shadow: 0px 0px 3px grey;
    font-family: Garamond, "Times New Roman", serif;
    font-size: 13px;
    color: #2A4D69;
    height: 25px;
    width: 70px;
}


#logout input:hover {
    cursor: pointer;
}

/* End of Logout CSS Button */

/* Start of Main */

#content {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    width: 800px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

#wrong p {
	color: red;
}

#right p {
	color: green;
}

/*Start of student/instructor*/

#sPanel p {
	text-align: center;
	color: #2A4D69;
}

#sPanel h1 { font-family: Garamond, "Times New Roman", serif; }

#sPanel h1, h2, h3 {
	text-align: center;
	color: #2A4D69;
}

#iPanel p {
	text-align: center;
	color: #2A4D69;
}

#iPanel h1 { font-family: Garamond, "Times New Roman", serif; }

#iPanel h1, h2, h3 {
	text-align: center;
	color: #2A4D69;
}

#radio {
	//border: 2px solid red;
	width: 300px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#radio label { width: 300px; }

.submits { 
	position: relative;
        left: 50%;
        transform: translateX(-50%);
 }

#examName {
	//border: 2px solid red;
	width: 200px;
	height: 20px;
	text-align: center;
	font-size: 17px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

/*end of student/instructor*/

/*
 * Start of Login Form Style 
 */

#login {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#login form[name="loginForm"] {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 300px;
}

#login h2 {
    color: #2A4D69;
    font-family: sans-serif;
    font-family: Garamond, "Times New Roman", serif;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 250px;
}

#login #username, 
#login #password,
#login #submit
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

#login #username input[type="text"], 
#login #password input[type="password"] {
    font-family: sans-serif;
    font-size: 15px;
    height: 34px;
    padding-left: 5px;
    text-align: center;
    width: 240px;
}

#login #submit input[type="submit"] {
	width: 250px;
	border-color: #adadad;
}

#login #error {
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   font-family: sans-serif;
   color: #2A4D69;
   font-size: 15px;
   text-align: center;
   width: 250px;
}

/* End of Login Form Style */

.Qinput input[type="text"] {
	width: 400px;
	margin-right: 200px;
	float: right;
}

#examRelease a {
	float: right;
}

#reviewExam a {
	float: right;
}

#gradedStyle p {
	text-align: left;
}

#wrong p {
	color: red;
}

#right p {
        color: green;
}


/* End of Main */

/* Start of Footer */

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #2A4D69;
    color: #ffffff;
    font-family: serif;
}

#footer #copyright {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 40px;
}

#footer #authors {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 40px;
}

/* End of Footer */
