/*
 * Home page style css
 */

/*
 * Much of my code involves use of toggle on/off
 * the border to 1px solid red so I can see
 * the layout better and figure out why I have
 * an problem with it
 * Since I am new to CSS, this helped me out
 * a lot and I suggest you keep the comments
 * and toggle it on and off to see what the problem is
 */

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

/*
 * This is what makes the footer
 * stick to the bottom of page
 * no matter what the size of the page is
 * I originally had it so that there needs
 * to be atleast 650px in the main content
 * for the footer to be bottom of the page
 * I found a better solution that was able 
 * to get the footer stick to bottom no matter what
 */

#page{

    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px;
}

body {
    background: #1d1d1d;
}

/* Start of Header Div */

/*
 * Make the header of div id to 96px
 * and then fix that position so when you 
 * scroll the page, the header will not move
 */

#header {
    background: #303030;
    color: #FFFFFF;
    height: 96px;
    position: fixed; 
    width: 100%; 
}

#header #banner {
    float: left;
    height: 45px;
    margin-top: 20px;
    margin-left: 40px;
    padding-top: 8px;
    width: 215px;
}

/*
 * When hovering over the logo, the
 * cursor changes to a pointer
 * I want to make sure that it only stays
 * as a pointer until the logo ends
 * So I calculated the almost exact width 
 * of the text inside the logo div
 */

#header #banner #logo {
    width: 215px;
}

/* 
 * To remove the underline that 
 * comes default with all anchors 
 */

#header #banner a {
    text-decoration: none;
}

#header #banner h1 {
    color: #ebebeb;
    font-family: Garamond, "Times New Roman", serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
}

#header #banner h1:hover {
    cursor: pointer;
    color: #D5D3D3;
}

#header #welcome {
	float: left;
	font-size: 15px;
	font-style: normal;
	font-weight: 100;
    margin-top: 40px;
    margin-left: 450px;
	padding-right: 40px;
	text-align: right;
    width: 390px;
}

/* End of Header Div */


/* Start of Logout CSS Button */

#logout {
    float: left;
    height: 30px;
    margin-top: 38px;
    width: 80px;
}

#logout input {
    background-color: #008CBA;
    border: 1px solid #008CBA;
    box-shadow: 0px 0px 3px grey;
    color: #FFFFFF;
    font-family: sans-serif;
    height: 25px;
    outline: none;
    width: 100%;
}

#logout input:hover {
    cursor: pointer;
}

/* End of Logout CSS Button */

/* Start of Main */

#main {
    background: #1d1d1d;
    color: #ccc;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 200;
    height: 100%;
    letter-spacing: 0em;
    line-height: 1.4;
    padding-top: 110px;
    padding-bottom: 5px;
    word-spacing: 0em;
}

#main #content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

/* Start of Login Form Style */

#login {
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#login form[name="loginForm"] {
    height: 250px;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#login h2 {
    font-family: sans-serif;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 250px;
}

#login #username, 
#login #password,
#login #submit
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

#login #username input[type="text"], 
#login #password input[type="password"] {
    font-family: sans-serif;
    font-size: 15px;
    height: 34px;
    padding-left: 5px;
    text-align: center;
    width: 240px;
}

#login #submit input[type="submit"] {
    background-color: #008CBA;
    border: 1px solid black;
    border-color: #007295;
    box-shadow: 0px 0px 3px grey;
    color: #FFFFFF;
    height: 36px;
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 0px;
    outline: none;
    text-align: center;
    width: 250px;
}

#login #submit input[type="submit"]:hover {
   background-color: #007295;
   cursor: pointer; 
}

#login #error {
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   font-family: sans-serif;
   font-size: 15px;
   text-align: center;
   width: 250px;
}

/* End of Login Form Style */

/* End of Main */

/* Start of Footer */

#footer {
    background: #303030;
    bottom: 0px;
    color: #ccc;
    font-family: serif;
}

#footer, #push {
    height: 70px;
}

#push {
    background: #1d1d1d;
}

#footer #copyright {
    float: left;
    height: 20px;
    padding-left: 40px;
    padding-top: 25px;
    width: 400px;
}

#footer #authors {
    float: right;
    margin-top: 25px;
    margin-right: 40px;
}

/* End of Footer */
